/***** media queries *****/
max(bp)
	@media only screen and (max-width: bp)
		{block}

min(bp)
	@media only screen and (min-width: bp)
		{block}

between(bp1, bp2)
	@media only screen and (min-width: bp1) and (max-width: bp2)
		{block}

mobile()
	+max(large-start-value)
		{block}

m_tablet()
	+between(large-start-value, extra-large-start-value)
		{block}

l_tablet()
	+between(large-start-value, pc-start-value)
		{block}
pc()
	+min(pc-start-value)
		{block}

// flexbox helpers
flex-center-row()
	flexbox(flex)
	flex-direction(row)
	flex-justify(center)
	flex-align(center)

flex-center-column()
	flexbox(flex)
	flex-direction(column)
	flex-justify(center)
	flex-align(center)

flex-start-column()
	flexbox(flex)
	flex-direction(column)
	flex-justify(start)
	flex-align(start)

flex-start-row()
	flexbox(flex)
	flex-direction(row)
	flex-justify(start)
	flex-align(start)

center-text()
	flexbox(flex)
	flex-direction(row)
	flex-justify(center)

remove-padding()
	padding 0

remove-margin()
	margin 0

form-input()
	flex-center-row()
	box-sizing border-box
	width 100%
	margin 5px 0
	height 3em
	+pc()
		height 2em
	padding 0
	border 1px solid rgba(0, 0, 0, 0.3)
	+min(large-start-value)
		font-size 1.0em
