#IZIMiner
	flexbox(flex)
	flex(grow:1)
	width 100%
	#IZImain
		flex-center-row()
		flex-align(stretch)
		width 100%
		+pc()
			padding 0 10%

#workplace
	flex-start-column()
	flex(grow:10, basis:auto)
	margin 10px