#IZIMiner
	flexbox(flex)
	flex(grow:1)
	width 100%
	#IZImain
		flex-start-row()
		width 100%
		+pc()
			padding 0 10%
		//width 100%

section#workplace
	flex-column-start()
	flex(grow:1)
	margin 10px
	
section#content
	box()
	flexbox(flex)
	width 100%
	margin-bottom 10px
	
	h2
		h2AR()
		margin 0
	
	h3
		color h3ContentColor
		font h3ContentFont
		border-bottom 1px solid h3ContentColor
		line-height 20px
		margin-bottom 10px