imagesPath = '../images'

// Values
large-start-value = 768px
extra-large-start-value = 1180px
pc-start-value = 1370px
pc-large-start-value = 1600px

// Media Queries
sm = "only screen and (max-width: large-start-value)"
lm = "only screen and (min-width: large-start-value) and (max-width: extra-large-start-value)"
//lm = "only screen and (min-width: 48em)"
xm = "only screen and (min-width: extra-large-start-value) and (max-width: pc-start-value)"
xlm = "only screen and (min-width: pc-l;arge-start-value)"

minContentWidth = 985px
minContentWidth2 = 1335px
navWidth = 280px
interestMeasuresWidth = 200px
paletteLiPadding = 2px 0

boxMargin = 10px
feedbackMargin = 20px

baseFontSize = 16px
actionLinkFontSize = 14px

color = #434343
linkColor = #126499
linkHoverColor = #06e
backgroundColor = #EDEDED
fontFamily = 'Arial', /*'Droid Sans',*/'sans-serif'
//'Helvetica Neue', 'Arial', 'sans-serif'

foundRuleColor = color
selectedFoundRuleColor = #4C8E0E

errorColor = #D01D1D
h1Color = #FFF
h1Font = 48px 'Average', 'serif'
h2Font = 20px 'Average', 'serif'
h2Color = #314E64
h2ARFont = 36px fontFamily
h2ARColor = #925213

/*úprava pro sjednocení fontů*/
h2FontSize = 28px
h2FontFamily = fontFamily
h2FontWeight = normal

buttonFontSize = 14px
buttonFontFamily = fontFamily
buttonFontWeight = normal
buttonBackground = #075783
buttonColor = #ffffff
buttonBorder = 1px solid rgb(49,78,100)
buttonHoverBackground = #2d83be
buttonHoverBorder = buttonBorder
buttonHoverColor = buttonColor

buttonDetailsFontSize = 10px
buttonDetailsFontWeight = normal
buttonDetailsColor = #dfdfdf

inputHoverBorderColor = #2d83be
inputBorderColor = rgb(235,235,235)

invisButtonBorder = 1px solid #EDEDED
invisButtonColor = #075783
invisButtonBackground = #fff
invisButtonHoverColor = buttonHoverBackground
invisButtonHoverBorder = 1px solid buttonHoverBackground
invisButtonHoverBackground = invisButtonBackground

mainButtonBackground = #4C8E0E
mainButtonColor = #ffffff
mainButtonBorder = 1px solid #4C8E0E
mainButtonHoverBackground = #64ba12
mainButtonHoverColor = mainButtonColor
mainButtonHoverBorder = mainButtonBorder

boxBackgroundColor = #ffffff

disabledInputColor = #DFDFDF

h3ContentFont = 16px
h3ContentColor = #314E64
overlayBorderColor = #AAA
overlayShadowColor = rgba(0, 0, 0, 0.6)
boxBorderColor = #DFDFDF
boxShadowColor = rgba(0, 0, 0, 0.4)

unimportantTextColor = #888

interestMeasureValueColor = #7B0D2E
interestMeasureColor = unimportantTextColor